.mutation-form {
    display: flex;
    justify-content: space-between;
}

.mutation-form > div > h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
}

.mutation-form-one {
    width: 40%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mutation-form-one > p {
    text-align: center;
    font-size: small;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    font-weight: lighter;
}