node_modules
dist
.DS_Store
stats.json
.serverless

.env.development
.env.local
.env.development.local
.env.test.local
.env.production.local

.cache
coverage
.webpack
stack-outputs.json

wizeline-academy/