.protein-form {
    display: flex;
    justify-content: space-between;
}

.protein-form>div>h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
}

.protein-form-one {
    width: 40%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.protein-form-one>p {
    text-align: center;
    font-size: small;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    font-weight: lighter;
}

.arow-icon {
    width: 1rem;
    margin-left: 0.25rem;
    color: black
}

.icon-left {
    width: 1rem;
    margin-left: 0.25rem;
    color: black
}