.drop-down {
    position: absolute;
    background-color: #ffffff;
    color: black;
    z-index: 50;
    display: flex;
    flex-direction: column;
}

.drop-down > li {
    color: black;
    padding: 16px 8px;
    cursor: pointer;
}