.notification-count {
  position: absolute;
  top: -1;
  left: 3;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: red;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  color: white;
  font-size: small;
}

.sidebar-item:focus {
  background-color: purple;
  outline: none;
}

.nav-bar {
  background-color: #ffffff;
  padding: 10px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.ul-One {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-Two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  /* w-2/5  */
  /* px-12 */
  padding: 0 24px;
}

.tooltip {
  position: absolute;
  padding: 20px;
  color: #fff;
  background-color: black;
  font-size: small;
  z-index: 50;
  display: flex;
  flex-direction: column;
  width: 250px;
  top: 12;
}