.notification-count {
  position: absolute;
  top: -1;
  left: 3;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: red;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  color: white;
  font-size: small;
}

.sidebar-item:focus {
  background-color: purple;
  outline: none;
}

.nav-bar {
  background-color: #ffffff;
  padding: 10px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
}