.lp {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
}

.letterpic-sm {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    width: 24px;
    height: 24px;
}

.letterpic-md {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

.letterpic-lg {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.letterpic-xs {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

.letterpic-primary {
    background-color: #efdbff
}

.letterpic-secondary {
    background-color: #b5f5ec;
}

.letterpic-tertiary {
    background-color: #ffffff
}

.lettercolor-purple {
    color: #6c5ea1;
}

.lettercolor-blue {
    color: #4bb1b2;
}

.avatar {
    display: flex;
    margin: 0 -10px;
    overflow: hidden;
}

.avatar>li {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
}